[submodule "mac_team"]
	path = mac_team
	url = git@github.com:ucb-cs250/mac_team.git
[submodule "config_team"]
	path = config_team
	url = git@github.com:ucb-cs250/config_team.git
[submodule "clb_team"]
	path = clb_team
	url = git@github.com:ucb-cs250/clb_team.git
[submodule "sram_team"]
	path = sram_team
	url = git@github.com:ucb-cs250/sram_team.git
[submodule "tools/yosys"]
	path = tools/yosys
	url = git@github.com:ucb-cs250/yosys
[submodule "ix_nate"]
	path = ix_nate
	url = git@github.com:ucb-cs250/ix_nate
[submodule "ix_yukio"]
	path = ix_yukio
	url = git@github.com:ucb-cs250/ix_yukio
[submodule "tools/nextpnr"]
	path = tools/nextpnr
	url = git@github.com:ucb-cs250/nextpnr
